---
const height = 420;
const width = 260;
const numRungs = 10;
const lineColor = "#1a141e";
const lineWidth = 2;
const purple = "#9d7ff7";
const shapeSize = 24;
const duration = 6;
const angleOffset = 8;
const rungSpacing = height / (numRungs + 1);

const rungs = Array.from({ length: numRungs }, (_, i) => {
  const norm = i % 7;
  const baseW = width * 0.48;
  const wobble = baseW * 0.2;

  let lShape = "none";
  let rShape = "none";
  let lCol = "#d9d9d9";
  let rCol = "#daf972";

  if (norm === 0) lShape = "circle";
  else if (norm === 1) {
    lShape = "hexagon";
    lCol = "#e9d6aa";
  } else if (norm === 5) {
    lShape = "square";
    lCol = purple;
  }

  if (norm === 3) {
    rShape = "square";
    rCol = "#a9cafb";
  } else if (norm === 4) {
    rShape = "circle";
    rCol = purple;
  } else if (norm === 6) {
    rShape = "hexagon";
    rCol = "#1a141e";
  }

  return {
    y: (i + 1) * rungSpacing,
    width: baseW - Math.sin((i * Math.PI) / 5) * wobble,
    off: i * angleOffset,
    delay: -(duration / numRungs) * i,
    lShape,
    rShape,
    lCol,
    rCol,
  };
});
---

<div class="relative mx-auto aspect-[260/420] w-full max-w-96 overflow-visible [perspective:1000px]" aria-hidden="true">
  <div class="absolute inset-0 [transform-style:preserve-3d] [transform:translateZ(-80px)]">
    {
      rungs.map((rung) => (
        <div
          class="dna-rung absolute left-1/2 [transform-style:preserve-3d] will-change-transform"
          style={`top:${rung.y}px;width:${rung.width}px;height:${lineWidth}px;margin-left:${-rung.width / 2}px;background:${lineColor};--start:${rung.off}deg;animation:dna-spin ${duration}s linear infinite;animation-delay:${rung.delay}s;`}
        >
          {rung.lShape !== "none" && (
            <span
              class:list={[
                "absolute block size-6",
                rung.lShape === "circle" && "rounded-full",
                rung.lShape === "hexagon" && "dna-hexagon",
              ]}
              style={`background:${rung.lCol};top:${-(shapeSize / 2) + lineWidth / 2}px;left:${-shapeSize}px;`}
            />
          )}
          {rung.rShape !== "none" && (
            <span
              class:list={[
                "absolute block size-6",
                rung.rShape === "circle" && "rounded-full",
                rung.rShape === "hexagon" && "dna-hexagon",
              ]}
              style={`background:${rung.rCol};top:${-(shapeSize / 2) + lineWidth / 2}px;right:${-shapeSize}px;`}
            />
          )}
        </div>
      ))
    }
  </div>
</div>
